<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rufus Router</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>
<body>
    <h1>Welcome to Rufus Router!</h1>
    <p>This app will help you navigate your way around UC Merced with ease.</p>

    <div class="container" id="container">
        <div class="form-container sign-in">
            <form action="/navigate" method="POST" enctype="multipart/form-data">
                <p>Where are you currently? (Select an option:)</p>
                <select name="location">
                    <option value="ACS">Arts and Computational Sciences (ACS)</option>
                    <option value="BSP">Biomedical Sciences and Physics (BSP)</option>
                    <option value="COB1">Classroom and Office Building 1 (COB 1)</option>
                    <option value="COB2">Classroom and Office Building 2 (COB 2)</option>
                    <option value="Glacier">Glacier Point</option>
                    <option value="Granite">Granite Pass</option>
                    <option value="Library">Kolligian Library (KL)</option>
                    <option value="SE1">Science and Engineering 1 (SE 1)</option>
                    <option value="SE2">Science and Engineering 2 (SE2)</option>
                    <option value="SSM">Social Sciences and Management (SSM)</option>
                    <option value="SSB">Student Services Building (SSB)</option>
                    <option value="SRE">Sustainability Research and Engineering (SRE)</option>
                </select>

                <p>Where do you want to go? (Select an option:)</p>
                <select name="destination">
                    <option value="ACS">Arts and Computational Sciences (ACS)</option>
                    <option value="BSP">Biomedical Sciences and Physics (BSP)</option>
                    <option value="COB1">Classroom and Office Building 1 (COB 1)</option>
                    <option value="COB2">Classroom and Office Building 2 (COB 2)</option>
                    <option value="Glacier">Glacier Point</option>
                    <option value="Granite">Granite Pass</option>
                    <option value="Library">Kolligian Library (KL)</option>
                    <option value="SE1">Science and Engineering 1 (SE 1)</option>
                    <option value="SE2">Science and Engineering 2 (SE2)</option>
                    <option value="SSM">Social Sciences and Management (SSM)</option>
                    <option value="SSB">Student Services Building (SSB)</option>
                    <option value="SRE">Sustainability Research and Engineering (SRE)</option>
                </select>

                <label for="imageInput">Upload a photo:</label>
                <input type="file" id="imageInput" name="image" accept="image/*">
                <div class="image-preview-container">
                    <img id="Preview" alt="Image Preview"/>
                </div>
                <button type="submit">Rufus Route Me!</button>
            </form>
        </div>
    </div>

    <img src="{{ url_for('static', filename='img/bobcat.png') }}" alt="Bobcat logo"/>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
