<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rufus Router</title>
    <style>
        body{
            background-color:dodgerblue;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color:rgb(255, 183, 0)
        }
        h1{
            color: rgb(255, 183, 0)
        }

    </style>
</head>
<body>
    <h1>Welcome to the Rufus Router App!</h1>
    <p>This app will help you navigate your way around UC Merced with ease.</p>

    <img src="campus_app/static/rufus.png"/>
    <form action= "/navigate" method="POST">
        <p> Where are you currently? (Select an option: ) </p>
        <select name="location">
            <option value="ACS"> Arts and Computational Sciences (ACS) </option>
            <option value="BSP"> Biomedical Sciences and Physics (BSP) </option>
            <option value="COB1"> Classroom and Office Building 1 (COB 1) </option>
            <option value="COB1"> Classroom and Office Building 2 (COB 2) </option>
            <option value="Glacier"> Glacier Point </option>
            <option value="Granite"> Granite Pass </option>
            <option value="Library"> Kolligian Library (KL) </option>
            <option value="SE1"> Science and Engineering 1 (SE 1) </option>
            <option value="SE2"> Science and Engineering 2 (SE2) </option>
            <option value="SSM"> Social Sciences and Management (SSM) </option>
            <option value="SSB"> Student Services Building (SSB) </option>
            <option value="SRE"> Sustainability Research and Engineering (SRE) </option>
        </select>

        <p> Where do you want to go? (Select an option: )</p>
        <select name="destination">
            <option value="ACS"> Arts and Computational Sciences (ACS) </option>
            <option value="BSP"> Biomedical Sciences and Physics (BSP) </option>
            <option value="COB1"> Classroom and Office Building 1 (COB 1) </option>
            <option value="COB1"> Classroom and Office Building 2 (COB 2) </option>
            <option value="Glacier"> Glacier Point </option>
            <option value="Granite"> Granite Pass </option>
            <option value="Library"> Kolligian Library (KL) </option>
            <option value="SE1"> Science and Engineering 1 (SE 1) </option>
            <option value="SE2"> Science and Engineering 2 (SE2) </option>
            <option value="SSM"> Social Sciences and Management (SSM) </option>
            <option value="SSB"> Student Services Building (SSB) </option>
            <option value="SRE"> Sustainability Research and Engineering (SRE) </option>
        </select>

        <br><br>
        <button type="submit">Rufus Route Me!</button>
    </form>
        
            


            

</body>
</html>
